@{
    ViewBag.Title = "About";
}

<div class="heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>About</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-12">
        <div class="row">
            <div class="well lead">My name is Mbali Dlomo. A mother a sister a daughter. I enjoy being a dev but sometime it not easy like right now doing this one hahaha.</div>
            <div class="clearfix">&nbsp;</div>
            <div class="well lead">Being a devloper teach you how to do investigation in life, you do not take any answer  becase you debugg each an every word even if we chatting with our freinds out work......</div>
            <div class="clearfix">&nbsp;</div>
            <div class="well lead">Enjoy using The my system ......it easy to use....</div>
              
            </div>
        </div>
</div>
