@{
    ViewBag.Title = "Contact";
}
<div class="heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact Details</h1>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid">
        <div class="col-12">
            <div class="row">
                <div class="col-sm-3">
                    <a >
                        <div class="pink-bg blocks">
                            <i class="style fa fa-map-marker" aria-hidden="true"></i>
                            <h1>Adreess</h1>
                            <a class="bott">334 Riverdene Drive Newlands West </a>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a >
                        <div class="green-bg blocks">
                            <i class="style fa fa-phone" aria-hidden="true"></i>
                            <h1>Phone</h1>
                            <a class="bott">Durban Office : 0786191892 </a>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a >
                        <div class="red-bg blocks">
                            <i class="style fa fa-comment-o" aria-hidden="true"></i>
                            <h1>Email User</h1>
                            <a class="bott">mbali_dlomo@yahoo.com </a>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>