<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cleartype" content="on" />
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="width">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-TileColor" content="#0000FF">
    <meta name="theme-color" content="#0000FF">
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/Jquery.ui.min1.9.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/toaster.js"></script>
    <script src="~/Scripts/app/directives.js"></script>
    <script src="~/Scripts/libs/bootstrap/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/ngAutocomplete.js"></script>

    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/toaster.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/autocomplete.css" rel="stylesheet" />
</head>
<body>
<div class="container-fluid"> 
    <div class="row">
        @RenderBody()
    </div>
</div>
</body>
</html>